In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [6]:
import locale

In [9]:
locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' ) 
locale.atoi('1,000')

Error: unsupported locale setting

In [2]:
df = pd.read_csv('(July 2018) FEH Voting Gauntlet_ Fated Battles - Marth vs Hardin.csv')

In [3]:
df

,Duration,EST,Marth (Total),Hardin (Total),Marth (Hourly),Hardin (Hourly),Marth Bonus,Hardin Bonus,Multiplier,Lead Difference Marth vs Hardin,Unnamed: 10,Marth,Hardin,1st Hr Ratio,Current Ratio,Round Over?,Marth % Difference (<=99 for Bonus),Hardin % Difference (<=99 for Bonus),Top Multiplier Line,Bot Multiplier Line
0,0,3:00 AM,0,0,0,0,NaN,NaN,3.1,0,Hourly Avg,"26,029,165","20,657,186",1.3376 : 1,1.2601 : 1,YES,NaN,NaN,0,0
1,1,4:00 AM,"8,981,468","6,714,686","8,981,468","6,714,686",NO,YES,3.2,"2,266,782",Bonus Avg,"86,971,718","64,567,807",NaN,NaN,NaN,133.76%,74.76%,"89,815","-67,147"
2,2,5:00 AM,"21,965,602","98,377,570","12,984,134","91,662,884",YES,NO,3.3,"-76,411,968",Current Total,"7,439,061,142","8,152,889,156",NaN,NaN,NaN,22.33%,447.87%,"219,656","-983,776"
3,3,6:00 AM,"155,866,032","112,018,252","133,900,430","13,640,682",NO,YES,3.4,"43,847,780",Bonus Active,YES,NO,NaN,NaN,NaN,139.14%,71.87%,"1,558,660","-1,120,183"
4,4,7:00 AM,"172,244,388","252,902,693","16,378,356","140,884,441",YES,NO,3.5,"-80,658,305",NaN,The sheet was last updated by the bot at 4:01:...,NaN,NaN,NaN,NaN,68.11%,146.83%,"1,722,444","-2,529,027"
5,5,8:00 AM,"363,681,729","272,794,664","191,437,341","19,891,971",NO,YES,3.6,"90,887,065",NaN,NaN,NaN,NaN,NaN,NaN,133.32%,75.01%,"3,636,817","-2,727,947"
6,6,9:00 AM,"387,702,714","495,521,368","24,020,985","222,726,704",YES,NO,3.7,"-107,818,654",NaN,NaN,NaN,NaN,NaN,NaN,78.24%,127.81%,"3,877,027","-4,955,214"
7,7,10:00 AM,"646,273,027","521,507,014","258,570,313","25,985,646",NO,YES,3.8,"124,766,013",NaN,NaN,NaN,NaN,NaN,NaN,123.92%,80.69%,"6,462,730","-5,215,070"
8,8,11:00 AM,"672,391,758","758,513,303","26,118,731","237,006,289",YES,NO,3.9,"-86,121,545",NaN,NaN,NaN,NaN,NaN,NaN,88.65%,112.81%,"6,723,918","-7,585,133"
9,9,12:00 PM,"939,157,848","781,000,170","266,766,090","22,486,867",NO,YES,4.0,"158,157,678",NaN,NaN,NaN,NaN,NaN,NaN,120.25%,83.16%,"9,391,578","-7,810,002"
10,10,1:00 PM,"963,504,971","983,561,239","24,347,123","202,561,069",YES,NO,4.1,"-20,056,268",NaN,NaN,NaN,NaN,NaN,NaN,97.96%,102.08%,"9,635,050","-9,835,612"
11,11,2:00 PM,"1,216,459,407","1,002,424,066","252,954,436","18,862,827",NO,YES,4.2,"214,035,341",NaN,NaN,NaN,NaN,NaN,NaN,121.35%,82.41%,"12,164,594","-10,024,241"
12,12,3:00 PM,"1,240,218,964","1,203,754,764","23,759,557","201,330,698",NO,YES,4.3,"36,464,200",NaN,NaN,NaN,NaN,NaN,NaN,103.03%,97.06%,"12,402,190","-12,037,548"
13,13,4:00 PM,"1,258,931,711","1,387,045,232","18,712,747","183,290,468",YES,NO,4.4,"-128,113,521",NaN,NaN,NaN,NaN,NaN,NaN,90.76%,110.18%,"12,589,317","-13,870,452"
14,14,5:00 PM,"1,565,583,374","1,407,857,262","306,651,663","20,812,030",NO,YES,4.5,"157,726,112",NaN,NaN,NaN,NaN,NaN,NaN,111.20%,89.93%,"15,655,834","-14,078,573"
15,15,6:00 PM,"1,593,346,586","1,649,636,889","27,763,212","241,779,627",YES,NO,4.6,"-56,290,303",NaN,NaN,NaN,NaN,NaN,NaN,96.59%,103.53%,"15,933,466","-16,496,369"
16,16,7:00 PM,"1,994,396,690","1,671,639,272","401,050,104","22,002,383",NO,YES,4.7,"322,757,418",NaN,NaN,NaN,NaN,NaN,NaN,119.31%,83.82%,"19,943,967","-16,716,393"
17,17,8:00 PM,"2,025,628,647","1,942,629,661","31,231,957","270,990,389",NO,YES,4.8,"82,998,986",NaN,NaN,NaN,NaN,NaN,NaN,104.27%,95.90%,"20,256,286","-19,426,297"
18,18,9:00 PM,"2,042,956,999","2,174,628,426","17,328,352","231,998,765",YES,NO,4.9,"-131,671,427",NaN,NaN,NaN,NaN,NaN,NaN,93.95%,106.45%,"20,429,570","-21,746,284"
19,19,10:00 PM,"2,392,390,641","2,193,728,301","349,433,642","19,099,875",NO,YES,5.0,"198,662,340",NaN,NaN,NaN,NaN,NaN,NaN,109.06%,91.70%,"23,923,906","-21,937,283"
20,20,11:00 PM,"2,422,116,773","2,476,682,484","29,726,132","282,954,183",YES,NO,5.1,"-54,565,711",NaN,NaN,NaN,NaN,NaN,NaN,97.80%,102.25%,"24,221,168","-24,766,825"
21,21,12:00 AM,"2,913,525,028","2,500,950,197","491,408,255","24,267,713",NO,YES,5.2,"412,574,831",NaN,NaN,NaN,NaN,NaN,NaN,116.50%,85.84%,"29,135,250","-25,009,502"
22,22,1:00 AM,"2,938,728,601","2,769,676,190","25,203,573","268,725,993",NO,YES,5.3,"169,052,411",NaN,NaN,NaN,NaN,NaN,NaN,106.10%,94.25%,"29,387,286","-27,696,762"
23,23,2:00 AM,"2,953,168,570","3,022,998,207","14,439,969","253,322,017",YES,NO,5.4,"-69,829,637",NaN,NaN,NaN,NaN,NaN,NaN,97.69%,102.36%,"29,531,686","-30,229,982"
24,24,3:00 AM,"3,328,745,316","3,039,697,452","375,576,746","16,699,245",NO,YES,5.5,"289,047,864",NaN,NaN,NaN,NaN,NaN,NaN,109.51%,91.32%,"33,287,453","-30,396,975"
25,25,4:00 AM,"3,374,145,662","3,445,377,498","45,400,346","405,680,046",YES,NO,5.6,"-71,231,836",NaN,City (Time Zone),Current Time,NaN,NaN,NaN,97.93%,102.11%,"33,741,457","-34,453,775"
26,26,5:00 AM,"3,852,078,870","3,469,752,579","477,933,208","24,375,081",NO,YES,5.7,"382,326,291",NaN,New York (EST),7/7/2018 4:00 AM,NaN,NaN,NaN,111.02%,90.07%,"38,520,789","-34,697,526"
27,27,6:00 AM,"3,879,903,451","3,859,624,068","27,824,581","389,871,489",NO,NO,5.8,"20,279,383",NaN,Chicago (CST),7/7/2018 3:00 AM,NaN,NaN,NaN,100.53%,99.48%,"38,799,035","-38,596,241"
28,28,7:00 AM,"3,899,422,928","3,888,605,664","19,519,477","28,981,596",NO,NO,5.9,"10,817,264",NaN,Denver (MST),7/7/2018 2:00 AM,NaN,NaN,NaN,100.28%,99.72%,"38,994,229","-38,886,057"
29,29,8:00 AM,"3,922,795,764","3,912,005,312","23,372,836","23,399,648",NO,NO,6.0,"10,790,452",NaN,Los Angeles (PST),7/7/2018 1:00 AM,NaN,NaN,NaN,100.28%,99.72%,"39,227,958","-39,120,053"
30,30,9:00 AM,"3,948,408,777","3,935,491,318","25,613,013","23,486,006",NO,NO,6.1,"12,917,459",NaN,London (GMT),7/7/2018 09:00,NaN,NaN,NaN,100.33%,99.67%,"39,484,088","-39,354,913"
31,31,10:00 AM,"3,974,725,629","3,957,867,651","26,316,852","22,376,333",NO,NO,6.2,"16,857,978",NaN,Berlin (CET),7/7/2018 10:00,NaN,NaN,NaN,100.43%,99.58%,"39,747,256","-39,578,677"
32,32,11:00 AM,"4,002,037,736","3,979,274,626","27,312,107","21,406,975",NO,NO,6.3,"22,763,110",NaN,Tokyo (JST),2018/7/7 17:00,NaN,NaN,NaN,100.57%,99.43%,"40,020,377","-39,792,746"
33,33,12:00 PM,"4,025,609,105","3,998,255,804","23,571,369","18,981,178",NO,NO,6.4,"27,353,301",NaN,Sydney (AEST),7/7/2018 6:00 PM,NaN,NaN,NaN,100.68%,99.32%,"40,256,091","-39,982,558"
34,34,1:00 PM,"4,046,175,846","4,014,561,956","20,566,741","16,306,152",NO,NO,6.5,"31,613,890",NaN,NaN,NaN,NaN,NaN,NaN,100.79%,99.22%,"40,461,758","-40,145,620"
35,35,2:00 PM,"4,065,529,976","4,028,387,975","19,354,130","13,826,019",NO,NO,6.6,"37,142,001",NaN,NaN,NaN,NaN,NaN,NaN,100.92%,99.09%,"40,655,300","-40,283,880"
36,36,3:00 PM,"4,083,390,618","4,040,886,096","17,860,642","12,498,121",NO,YES,6.7,"42,504,522",NaN,NaN,NaN,NaN,NaN,NaN,101.05%,98.96%,"40,833,906","-40,408,861"
37,37,4:00 PM,"4,099,323,921","4,474,063,151","15,933,303","433,177,055",YES,NO,6.8,"-374,739,230",NaN,NaN,NaN,NaN,NaN,NaN,91.62%,109.14%,"40,993,239","-44,740,632"
38,38,5:00 PM,"4,875,015,709","4,497,031,084","775,691,788","22,967,933",NO,YES,6.9,"377,984,625",NaN,NaN,NaN,NaN,NaN,NaN,108.41%,92.25%,"48,750,157","-44,970,311"
39,39,6:00 PM,"4,913,123,232","5,146,125,812","38,107,523","649,094,728",YES,NO,7.0,"-233,002,580",NaN,NaN,NaN,NaN,NaN,NaN,95.47%,104.74%,"49,131,232","-51,461,258"
40,40,7:00 PM,"6,073,157,653","5,175,060,515","1,160,034,421","28,934,703",NO,YES,7.1,"898,097,138",NaN,NaN,NaN,NaN,NaN,NaN,117.35%,85.21%,"60,731,577","-51,750,605"
41,41,8:00 PM,"6,114,802,411","5,947,762,442","41,644,758","772,701,927",NO,YES,7.2,"167,039,969",NaN,NaN,NaN,NaN,NaN,NaN,102.81%,97.27%,"61,148,024","-59,477,624"
42,42,9:00 PM,"6,135,129,954","6,538,601,541","20,327,543","590,839,099",YES,NO,7.3,"-403,471,587",NaN,NaN,NaN,NaN,NaN,NaN,93.83%,106.58%,"61,351,300","-65,386,015"
43,43,10:00 PM,"7,325,878,554","6,566,370,324","1,190,748,600","27,768,783",NO,YES,7.4,"759,508,230",NaN,NaN,NaN,NaN,NaN,NaN,111.57%,89.63%,"73,258,786","-65,663,703"
44,44,11:00 PM,"7,380,270,535","7,291,053,922","54,391,981","724,683,598",NO,YES,7.5,"89,216,613",NaN,NaN,NaN,NaN,NaN,NaN,101.22%,98.79%,"73,802,705","-72,910,539"
45,45,12:00 AM,"7,439,061,142","8,152,889,156","58,790,607","861,835,234",NaN,NaN,NaN,"-713,828,014",NaN,NaN,NaN,NaN,NaN,NaN,91.24%,109.60%,"74,390,611","-81,528,892"

In [5]:
df.dtypes

Duration                                  int64
EST                                      object
Marth (Total)                            object
Hardin (Total)                           object
Marth (Hourly)                           object
Hardin (Hourly)                          object
Marth Bonus                              object
Hardin Bonus                             object
Multiplier                              float64
Lead Difference Marth vs Hardin          object
Unnamed: 10                              object
Marth                                    object
Hardin                                   object
1st Hr Ratio                             object
Current Ratio                            object
Round Over?                              object
Marth % Difference (<=99 for Bonus)      object
Hardin % Difference (<=99 for Bonus)     object
Top Multiplier Line                      object
Bot Multiplier Line                      object
dtype: object

In [12]:
df['Marth (Total)'].apply(lambda s:int(s.replace(',','')))

0              0
1        8981468
2       21965602
3      155866032
4      172244388
5      363681729
6      387702714
7      646273027
8      672391758
9      939157848
10     963504971
11    1216459407
12    1240218964
13    1258931711
14    1565583374
15    1593346586
16    1994396690
17    2025628647
18    2042956999
19    2392390641
20    2422116773
21    2913525028
22    2938728601
23    2953168570
24    3328745316
25    3374145662
26    3852078870
27    3879903451
28    3899422928
29    3922795764
30    3948408777
31    3974725629
32    4002037736
33    4025609105
34    4046175846
35    4065529976
36    4083390618
37    4099323921
38    4875015709
39    4913123232
40    6073157653
41    6114802411
42    6135129954
43    7325878554
44    7380270535
45    7439061142
Name: Marth (Total), dtype: int64

In [19]:
df[df.columns[2:6]] = df[df.columns[2:6]].apply(lambda s:int(s.replace(',','')))

TypeError: ("cannot convert the series to <class 'int'>", 'occurred at index Marth (Total)')

In [21]:
df[df.columns[2:6]].applymap(lambda s:int(s.replace(',','')))

    Marth (Total)  Hardin (Total)  Marth (Hourly)  Hardin (Hourly)
0               0               0               0                0
1         8981468         6714686         8981468          6714686
2        21965602        98377570        12984134         91662884
3       155866032       112018252       133900430         13640682
4       172244388       252902693        16378356        140884441
5       363681729       272794664       191437341         19891971
6       387702714       495521368        24020985        222726704
7       646273027       521507014       258570313         25985646
8       672391758       758513303        26118731        237006289
9       939157848       781000170       266766090         22486867
10      963504971       983561239        24347123        202561069
11     1216459407      1002424066       252954436         18862827
12     1240218964      1203754764        23759557        201330698
13     1258931711      1387045232        18712747        183290468
14     1565583374      1407857262       306651663         20812030
15     1593346586      1649636889        27763212        241779627
16     1994396690      1671639272       401050104         22002383
17     2025628647      1942629661        31231957        270990389
18     2042956999      2174628426        17328352        231998765
19     2392390641      2193728301       349433642         19099875
20     2422116773      2476682484        29726132        282954183
21     2913525028      2500950197       491408255         24267713
22     2938728601      2769676190        25203573        268725993
23     2953168570      3022998207        14439969        253322017
24     3328745316      3039697452       375576746         16699245
25     3374145662      3445377498        45400346        405680046
26     3852078870      3469752579       477933208         24375081
27     3879903451      3859624068        27824581        389871489
28     3899422928      3888605664        19519477         28981596
29     3922795764      3912005312        23372836         23399648
30     3948408777      3935491318        25613013         23486006
31     3974725629      3957867651        26316852         22376333
32     4002037736      3979274626        27312107         21406975
33     4025609105      3998255804        23571369         18981178
34     4046175846      4014561956        20566741         16306152
35     4065529976      4028387975        19354130         13826019
36     4083390618      4040886096        17860642         12498121
37     4099323921      4474063151        15933303        433177055
38     4875015709      4497031084       775691788         22967933
39     4913123232      5146125812        38107523        649094728
40     6073157653      5175060515      1160034421         28934703
41     6114802411      5947762442        41644758        772701927
42     6135129954      6538601541        20327543        590839099
43     7325878554      6566370324      1190748600         27768783
44     7380270535      7291053922        54391981        724683598
45     7439061142      8152889156        58790607        861835234

In [56]:
def convert_string_to_int(s):
    return int(s.replace(',',''))

def convert_yes_no(s):
    if s =='YES':
        return True
    elif s == 'NO':
        return False
    elif pd.isnull(s):
        return np.nan
    raise ValueError

In [40]:
df[df.columns[2:6]].applymap(convert_string_to_int)

    Marth (Total)  Hardin (Total)  Marth (Hourly)  Hardin (Hourly)
0               0               0               0                0
1         8981468         6714686         8981468          6714686
2        21965602        98377570        12984134         91662884
3       155866032       112018252       133900430         13640682
4       172244388       252902693        16378356        140884441
5       363681729       272794664       191437341         19891971
6       387702714       495521368        24020985        222726704
7       646273027       521507014       258570313         25985646
8       672391758       758513303        26118731        237006289
9       939157848       781000170       266766090         22486867
10      963504971       983561239        24347123        202561069
11     1216459407      1002424066       252954436         18862827
12     1240218964      1203754764        23759557        201330698
13     1258931711      1387045232        18712747        183290468
14     1565583374      1407857262       306651663         20812030
15     1593346586      1649636889        27763212        241779627
16     1994396690      1671639272       401050104         22002383
17     2025628647      1942629661        31231957        270990389
18     2042956999      2174628426        17328352        231998765
19     2392390641      2193728301       349433642         19099875
20     2422116773      2476682484        29726132        282954183
21     2913525028      2500950197       491408255         24267713
22     2938728601      2769676190        25203573        268725993
23     2953168570      3022998207        14439969        253322017
24     3328745316      3039697452       375576746         16699245
25     3374145662      3445377498        45400346        405680046
26     3852078870      3469752579       477933208         24375081
27     3879903451      3859624068        27824581        389871489
28     3899422928      3888605664        19519477         28981596
29     3922795764      3912005312        23372836         23399648
30     3948408777      3935491318        25613013         23486006
31     3974725629      3957867651        26316852         22376333
32     4002037736      3979274626        27312107         21406975
33     4025609105      3998255804        23571369         18981178
34     4046175846      4014561956        20566741         16306152
35     4065529976      4028387975        19354130         13826019
36     4083390618      4040886096        17860642         12498121
37     4099323921      4474063151        15933303        433177055
38     4875015709      4497031084       775691788         22967933
39     4913123232      5146125812        38107523        649094728
40     6073157653      5175060515      1160034421         28934703
41     6114802411      5947762442        41644758        772701927
42     6135129954      6538601541        20327543        590839099
43     7325878554      6566370324      1190748600         27768783
44     7380270535      7291053922        54391981        724683598
45     7439061142      8152889156        58790607        861835234

In [57]:
df[df.columns[6:8]].applymap(convert_yes_no)

   Marth Bonus Hardin Bonus
0          NaN          NaN
1        False         True
2         True        False
3        False         True
4         True        False
5        False         True
6         True        False
7        False         True
8         True        False
9        False         True
10        True        False
11       False         True
12       False         True
13        True        False
14       False         True
15        True        False
16       False         True
17       False         True
18        True        False
19       False         True
20        True        False
21       False         True
22       False         True
23        True        False
24       False         True
25        True        False
26       False         True
27       False        False
28       False        False
29       False        False
30       False        False
31       False        False
32       False        False
33       False        False
34       False        False
35       False        False
36       False         True
37        True        False
38       False         True
39        True        False
40       False         True
41       False         True
42        True        False
43       False         True
44       False         True
45         NaN          NaN

In [58]:
df['Multiplier']

0     3.1
1     3.2
2     3.3
3     3.4
4     3.5
5     3.6
6     3.7
7     3.8
8     3.9
9     4.0
10    4.1
11    4.2
12    4.3
13    4.4
14    4.5
15    4.6
16    4.7
17    4.8
18    4.9
19    5.0
20    5.1
21    5.2
22    5.3
23    5.4
24    5.5
25    5.6
26    5.7
27    5.8
28    5.9
29    6.0
30    6.1
31    6.2
32    6.3
33    6.4
34    6.5
35    6.6
36    6.7
37    6.8
38    6.9
39    7.0
40    7.1
41    7.2
42    7.3
43    7.4
44    7.5
45    NaN
Name: Multiplier, dtype: float64

In [64]:
df[df.columns[9]].apply(convert_string_to_int)

0             0
1       2266782
2     -76411968
3      43847780
4     -80658305
5      90887065
6    -107818654
7     124766013
8     -86121545
9     158157678
10    -20056268
11    214035341
12     36464200
13   -128113521
14    157726112
15    -56290303
16    322757418
17     82998986
18   -131671427
19    198662340
20    -54565711
21    412574831
22    169052411
23    -69829637
24    289047864
25    -71231836
26    382326291
27     20279383
28     10817264
29     10790452
30     12917459
31     16857978
32     22763110
33     27353301
34     31613890
35     37142001
36     42504522
37   -374739230
38    377984625
39   -233002580
40    898097138
41    167039969
42   -403471587
43    759508230
44     89216613
45   -713828014
Name: Lead Difference Marth vs Hardin, dtype: int64

In [77]:
pd.merge(df[df.columns[2:6]].applymap(convert_string_to_int),
         df[df.columns[6:8]].applymap(convert_yes_no),
         left_index = True,right_index=True)

,Marth (Total),Hardin (Total),Marth (Hourly),Hardin (Hourly),Marth Bonus,Hardin Bonus
0,0,0,0,0,NaN,NaN
1,8981468,6714686,8981468,6714686,False,True
2,21965602,98377570,12984134,91662884,True,False
3,155866032,112018252,133900430,13640682,False,True
4,172244388,252902693,16378356,140884441,True,False
5,363681729,272794664,191437341,19891971,False,True
6,387702714,495521368,24020985,222726704,True,False
7,646273027,521507014,258570313,25985646,False,True
8,672391758,758513303,26118731,237006289,True,False
9,939157848,781000170,266766090,22486867,False,True
10,963504971,983561239,24347123,202561069,True,False
11,1216459407,1002424066,252954436,18862827,False,True
12,1240218964,1203754764,23759557,201330698,False,True
13,1258931711,1387045232,18712747,183290468,True,False
14,1565583374,1407857262,306651663,20812030,False,True
15,1593346586,1649636889,27763212,241779627,True,False
16,1994396690,1671639272,401050104,22002383,False,True
17,2025628647,1942629661,31231957,270990389,False,True
18,2042956999,2174628426,17328352,231998765,True,False
19,2392390641,2193728301,349433642,19099875,False,True
20,2422116773,2476682484,29726132,282954183,True,False
21,2913525028,2500950197,491408255,24267713,False,True
22,2938728601,2769676190,25203573,268725993,False,True
23,2953168570,3022998207,14439969,253322017,True,False
24,3328745316,3039697452,375576746,16699245,False,True
25,3374145662,3445377498,45400346,405680046,True,False
26,3852078870,3469752579,477933208,24375081,False,True
27,3879903451,3859624068,27824581,389871489,False,False
28,3899422928,3888605664,19519477,28981596,False,False
29,3922795764,3912005312,23372836,23399648,False,False
30,3948408777,3935491318,25613013,23486006,False,False
31,3974725629,3957867651,26316852,22376333,False,False
32,4002037736,3979274626,27312107,21406975,False,False
33,4025609105,3998255804,23571369,18981178,False,False
34,4046175846,4014561956,20566741,16306152,False,False
35,4065529976,4028387975,19354130,13826019,False,False
36,4083390618,4040886096,17860642,12498121,False,True
37,4099323921,4474063151,15933303,433177055,True,False
38,4875015709,4497031084,775691788,22967933,False,True
39,4913123232,5146125812,38107523,649094728,True,False
40,6073157653,5175060515,1160034421,28934703,False,True
41,6114802411,5947762442,41644758,772701927,False,True
42,6135129954,6538601541,20327543,590839099,True,False
43,7325878554,6566370324,1190748600,27768783,False,True
44,7380270535,7291053922,54391981,724683598,False,True
45,7439061142,8152889156,58790607,861835234,NaN,NaN

In [78]:
df2 = pd.merge(df[df.columns[2:6]].applymap(convert_string_to_int),
         df[df.columns[6:8]].applymap(convert_yes_no),
         left_index = True,right_index=True)

In [79]:
df2.columns = ['AT','BT','AH','BH','AB','BB']

In [80]:
df2['Mult'] = df['Multiplier']

            AT          BT          AH         BH     AB     BB
0            0           0           0          0    NaN    NaN
1      8981468     6714686     8981468    6714686  False   True
2     21965602    98377570    12984134   91662884   True  False
3    155866032   112018252   133900430   13640682  False   True
4    172244388   252902693    16378356  140884441   True  False
5    363681729   272794664   191437341   19891971  False   True
6    387702714   495521368    24020985  222726704   True  False
7    646273027   521507014   258570313   25985646  False   True
8    672391758   758513303    26118731  237006289   True  False
9    939157848   781000170   266766090   22486867  False   True
10   963504971   983561239    24347123  202561069   True  False
11  1216459407  1002424066   252954436   18862827  False   True
12  1240218964  1203754764    23759557  201330698  False   True
13  1258931711  1387045232    18712747  183290468   True  False
14  1565583374  1407857262   306651663   20812030  False   True
15  1593346586  1649636889    27763212  241779627   True  False
16  1994396690  1671639272   401050104   22002383  False   True
17  2025628647  1942629661    31231957  270990389  False   True
18  2042956999  2174628426    17328352  231998765   True  False
19  2392390641  2193728301   349433642   19099875  False   True
20  2422116773  2476682484    29726132  282954183   True  False
21  2913525028  2500950197   491408255   24267713  False   True
22  2938728601  2769676190    25203573  268725993  False   True
23  2953168570  3022998207    14439969  253322017   True  False
24  3328745316  3039697452   375576746   16699245  False   True
25  3374145662  3445377498    45400346  405680046   True  False
26  3852078870  3469752579   477933208   24375081  False   True
27  3879903451  3859624068    27824581  389871489  False  False
28  3899422928  3888605664    19519477   28981596  False  False
29  3922795764  3912005312    23372836   23399648  False  False
30  3948408777  3935491318    25613013   23486006  False  False
31  3974725629  3957867651    26316852   22376333  False  False
32  4002037736  3979274626    27312107   21406975  False  False
33  4025609105  3998255804    23571369   18981178  False  False
34  4046175846  4014561956    20566741   16306152  False  False
35  4065529976  4028387975    19354130   13826019  False  False
36  4083390618  4040886096    17860642   12498121  False   True
37  4099323921  4474063151    15933303  433177055   True  False
38  4875015709  4497031084   775691788   22967933  False   True
39  4913123232  5146125812    38107523  649094728   True  False
40  6073157653  5175060515  1160034421   28934703  False   True
41  6114802411  5947762442    41644758  772701927  False   True
42  6135129954  6538601541    20327543  590839099   True  False
43  7325878554  6566370324  1190748600   27768783  False   True
44  7380270535  7291053922    54391981  724683598  False   True
45  7439061142  8152889156    58790607  861835234    NaN    NaN

In [75]:
df[df.columns[6:8]].applymap(convert_yes_no)

   Marth Bonus Hardin Bonus
0          NaN          NaN
1        False         True
2         True        False
3        False         True
4         True        False
5        False         True
6         True        False
7        False         True
8         True        False
9        False         True
10        True        False
11       False         True
12       False         True
13        True        False
14       False         True
15        True        False
16       False         True
17       False         True
18        True        False
19       False         True
20        True        False
21       False         True
22       False         True
23        True        False
24       False         True
25        True        False
26       False         True
27       False        False
28       False        False
29       False        False
30       False        False
31       False        False
32       False        False
33       False        False
34       False        False
35       False        False
36       False         True
37        True        False
38       False         True
39        True        False
40       False         True
41       False         True
42        True        False
43       False         True
44       False         True
45         NaN          NaN

In [81]:
def process_csv(fname):
    df = pd.read_csv(fname)
    df2 = pd.merge(df[df.columns[2:6]].applymap(convert_string_to_int),
             df[df.columns[6:8]].applymap(convert_yes_no),
             left_index = True,right_index=True)
    df2.columns = ['AT','BT','AH','BH','AB','BB']
    df2['Mult'] = df['Multiplier']
    return df2